.register{
    height: 100vh;
    background-color: rgb(205, 185, 177);
    display: flex;
    align-items: center;
    justify-content: center;
    .card {
      display: flex;
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      min-height: 600px;
      width: 50%;
      overflow: hidden;
      flex-direction: row-reverse;
  
      .left {
        flex: 1;
        background: linear-gradient(
            rgba(205, 185, 177, 0.437),
            rgba(0, 0, 0, 0.873)
          ),
          url("https://images.pexels.com/photos/8528711/pexels-photo-8528711.jpeg")
            center;
        background-size: cover;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;
        justify-content: center;
  
        h1 {
          font-size: 40px;
          line-height: 40px;
          font-weight: bold;
          margin: 0;
        }
  
        span {
          font-size: 14px;
        }
        button {
          padding: 10px;
          width: 50%;
          cursor: pointer;
          border: none;
          font-weight: bold;
          font-size: 14px;
        }
      }
  
      .right {
        flex: 1;
        padding: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap:30px;
        h1{
          font-size: 55px;
          line-height: 100px;
          font-weight: bold;
          margin: 0;
  
        }
  
        input{
          padding: 14px;
          border: none;
          border-bottom: 1px solid lightgray;
          font-weight: 500;
        }
  
        input:focus-visible{
          outline: none;
        }
  
        button{
          padding: 10px;
          width: 50%;
          cursor: pointer;
          border: none;
          font-weight: bold;
          font-size: 14px;border:2px solid transparent;
          transition:all 0.5s;
        }
  
        button:hover{
          border: 2px solid #8080802e;
        }
      }
    }
  }
  